<div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div>
        <label for="email">Email:</label>
        <input type="text"
          id="name"
          formControlName="email">
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="text"
          id="password"
          formControlName="password">
      </div>

      <div>
        <button type="submit">Sign Up</button>
      </div>
    </div>
  </form>

  <div *ngIf="currentUser">
    <p>{{currentUser.email}}</p>
  </div>
</div>
